---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"posts">;
}
const {
  post,
  post: {
    data: { title, desc, date },
  },
} = Astro.props;

const { Content } = await post.render();
---

<BaseLayout
  title={`${title} - eliasuran.dev`}
  desc={`Blog post by eliasuran.dev: ${desc}`}
>
  <article class="flex flex-col gap-4 text-base-content">
    <h1 class="text-4xl">{title}</h1>
    <div class="flex justify-between">
      <h2 class="w-1/2">{desc}</h2>
      <span>{new Date(date).toLocaleDateString("no-NO")}</span>
    </div>
    <div class="w-[90%] h-[0.5px] mx-auto bg-base-content"></div>
    <div class="prose"><Content /></div>
  </article>
</BaseLayout>

<style is:global>
  /* Add styles to the prose class */
  .prose {
    line-height: 1.4;
    font-size: 10;
  }

  .prose h1 {
    font-size: 2rem;
  }

  .prose h2 {
    font-size: 1.5rem;
  }

  .prose h3 {
    font-size: 1.25rem;
  }

  .prose h4 {
    font-size: 1.2rem;
  }

  /* Style links within the prose class */
  .prose a {
    color: #007bff; /* Adjust the color as needed */
    text-decoration: none;
    border-bottom: 1px solid #007bff; /* Add an underline effect */
  }

  /* Style code blocks within the prose class */
  .prose pre {
    background-color: #f8f9fa; /* Adjust the background color as needed */
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
  }

  .prose code {
    font-family: "Courier New", monospace; /* Set code font */
    font-size: 14px;
    color: white; /* Adjust code color as needed */
  }

  /* Style blockquotes within the prose class */
  .prose blockquote {
    border-left: 4px solid #007bff; /* Adjust the border color as needed */
    margin: 0;
    padding-left: 15px;
    color: #555; /* Adjust the text color as needed */
  }

  /* Style lists within the prose class */
  .prose ul,
  .prose ol {
    margin-bottom: 20px;
  }

  /* Style images within the prose class */
  .prose img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  /* Add any additional styles or adjustments based on your design */
</style>
