---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me - Elias Uran" desc="Hello! I'm Elias, an 18 year old IT consultant who loves building things.">
  <div class="w-full h-full flex flex-col gap-4 items-center text-xl text-center px-10 mt-[46vh] font-normal">
    <h1 class="font-semibold">I'm an 18 year old IT consultant who loves building things</h1>
  </div>
</BaseLayout>
