---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me - Elias Uran" desc="Hello! I'm Elias, an 18 year old IT consultant who loves building things.">
  <div class="w-full h-full flex items-center justify-center text-xl">
    <p>I'm an 18 year old IT consultant who loves building things</p>
  </div>
</BaseLayout>
