---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutMeSection from "../components/AboutMeSection.astro";
import Artist from "../components/Artist.astro";
import { text } from '../lib/styles';
---

<BaseLayout title="About me - Elias Uran" desc="Hello! I'm Elias, an 18 year old IT consultant who loves building things.">
  <div class="snap-y snap-mandatory h-screen overflow-y-scroll overflow-x-hidden">

    <AboutMeSection>
      <h1 class="font-semibold">I'm an 18 year old IT consultant who loves building things</h1>
    </AboutMeSection>

    <AboutMeSection>
      <h1 class="font-semibold">I also love music. Here are some of my favorite artists right now</h1>
      <div class="flex sm:flex-row flex-col sm:gap-12 gap-8">
        <Artist
          name="JAY-Z" 
          artistId="3nFkdlSjzX9mRTtwJOzDYB"
          imageSrc="https://i.scdn.co/image/ab67616100005174c75afcd5a9027f60eaebb5e4" 
        />

        <Artist
          name="Westside Gunn" 
          artistId="0ABk515kENDyATUdpCKVfW"
          imageSrc="https://i.scdn.co/image/ab6761610000517410b517960f313575989c44c1" 
        />

        <Artist
          name="Big L" 
          artistId="30fiiwr2EeZp1tAhzYCmyM"
          imageSrc="https://i.scdn.co/image/ab67616100005174a4f78bbc847304a2bc118e10" 
        />
      </div>
    </AboutMeSection>

    <AboutMeSection>
      <div>
        <span class="font-semibold">Contact me at: </span> 
        <a class={text.default} href="mailto:elias.uran@wemail.no" target="_blank">elias.uran@wemail.no</a>
      </div>
    </AboutMeSection>

  </div>
</BaseLayout>
