---
import BaseLayout from "../layouts/BaseLayout.astro";

/* projects */
import Projects from "../components/projects.astro";
import type { Project } from "../lib/projects";
import { getProjects } from "../lib/projects";
const projects: Project[] = await getProjects();

/* blog posts */
import Posts from "../components/posts.astro";
import { getCollection } from "astro:content";
const posts = await getCollection(
  "posts",
  ({ data }) => data.published === true,
);

console.log(posts[0].data.date);
---

<BaseLayout
  title="Home - eliasuran.dev"
  desc="Overview page with projects and latest posts"
>
  <div class="flex flex-col gap-6">
    <!-- intro -->
    <p class="text-base-content">
      Hello, my name is Elias and I'm a 17 year old student at Elvebakken VGS. I
      like to do web-dev, work on interesting and challenging problems and to
      use Vim :)
    </p>

    <!-- projects -->
    <h2 class="text-xl text-base-content">projects</h2>
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
      {projects.map((project) => <Projects {project} />)}
    </div>

    <!-- blog -->
    <h2 class="text-xl text-base-content">blog</h2>
    <div class="flex flex-col gap-4">
      {
        posts
          .slice()
          .sort(
            (a, b) =>
              new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
          )
          .map((post) => <Posts data={post.data} slug={post.slug} />)
      }
    </div>
  </div>
</BaseLayout>
