---
import BaseLayout from "../layouts/BaseLayout.astro";

/* projects */
import Projects from "../components/projects.astro";
import type { Project } from "../lib/projects";
import { getProjects } from "../lib/projects";
const projects: Project[] = getProjects();
---

<BaseLayout title="home - eliasuran.dev" desc="overview page with projects">
  <div class="flex flex-col gap-6">
    <!-- intro -->
    <p class="text-base-content">
      Hi, my name is Elias and I'm an 18 year old apprentice at Comono AS with
      a passion for programming. I like to build a lot of random stuff, work on
      interesting and challenging problems and to use Vim :)
    </p>

    <!-- projects -->
    <h2 class="text-xl text-base-content">projects</h2>
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
      {projects.map((project) => <Projects {project} />)}
    </div>

    <!-- blog (removed intil videre) -->
  </div>
</BaseLayout>
