---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsWrapper from "../components/ProjectsWrapper.svelte"
---

<BaseLayout title="Projects - Elias Uran" desc="Some of my projects">
  <div class="w-full h-full flex flex-col gap-2 items-center justify-center">
    <div class="w-96">
      <ProjectsWrapper client:load />
    </div>
  </div>
</BaseLayout>
