---
import LinkIcon from "./LinkIcon.astro";
---

<footer
  class="flex sm:flex-row flex-col justify-between sm:items-start items-center pt-14 sm:gap-0 gap-2"
>
  <div>
    <h3 class="text-xl text-base-content">Elias Rissanen Uran</h3>
    <a
      href="mailto:elias.uran@wemail.no"
      class="hover:text-base-content duration-500">elias.uran@wemail.no</a
    >
  </div>
  <div class="flex gap-2 sm:self-end">
    <LinkIcon name="mdi:github" href="https://github.com/eliasuran" />
    <LinkIcon
      name="mdi:linkedin"
      href="https://www.linkedin.com/in/elias-uran-400590262/"
    />
    <LinkIcon name="akar-icons:x-fill" href="https://x.com/eliasurandev" />
  </div>
</footer>
