---
import { text } from "../lib/styles"
---

<header
  class="transition-transform p-20 flex sm:justify-start w-full justify-center fixed"
>
<a href="/" class={text.default}>eliasuran.dev</a>
</header>
