---
const hoverEffect = "text-neutral-400 hover:text-base-content duration-500";
import NavItem from "./NavItem.svelte";
---

<header
  class="flex xs:flex-row flex-col justify-between xs:items-start items-center transition-transform"
>
  <a href="/" class={`${hoverEffect} text-lg`}>eliasuran.dev</a>
  <div class="flex gap-4 xs:justify-start justify-between">
    <NavItem href="/blog" client:visible />
    <NavItem href="/music" client:visible />
  </div>
</header>
