---
const hoverEffect = "text-neutral-400 hover:text-base-content duration-500";
import NavItem from "./NavItem.svelte";
---

<header class="flex justify-between transition-transform">
  <a href="/" class={`${hoverEffect} text-lg`}>eliasuran.dev</a>
  <div class="flex gap-4">
    <NavItem href="/blogg" client:visible />
    <NavItem href="/musikk" client:visible />
  </div>
</header>
