---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  name: string;
}
const { href, name } = Astro.props;
---

<a aria-label={`Link to ${href}`} {href}>
  <Icon
    {name}
    class="text-3xl text-neutral-400 hover:text-base-content duration-500"
  />
</a>
