---
const { href } = Astro.props;
const url = Astro.url;
---

<a
  class={`${url.pathname === href && "underline"} hover:text-base-content duration-500`}
  href={href}
>
  {href.replace("/", "")}
</a>
