---
import type { Post } from "../types/post";
interface Props {
  slug: string;
  data: Post["data"];
}
const {
  data: { title, desc, date },
  slug,
} = Astro.props;
---

<a
  href={`/blog/${slug}`}
  class="h-28 flex flex-col gap-2 text-start hover:text-base-content duration-500 group"
>
  <div>
    <h3>{title}</h3>
    <div
      class="h-[2px] bg-neutral-400 group-hover:bg-base-content duration-500"
    >
    </div>
  </div>
  <div class="flex justify-between">
    <p class="line-clamp-2 w-1/2">{desc}</p>
    <p>{new Date(date).toLocaleDateString("no-NO")}</p>
  </div>
</a>
