---
import type { Project } from "../lib/projects";
interface Props {
  project: Project;
}
const {
  project: { title, desc, repo, url = "" },
} = Astro.props;
import LinkIcon from "./LinkIcon.astro";
---

<div class="h-36 flex flex-col gap-2">
  <div class="w-full">
    <h3>{title}</h3>
    <div class="h-[2px] bg-neutral-400"></div>
  </div>
  <p>{desc}</p>
  <div class="self-end flex gap-2">
    {url !== "" && <LinkIcon href={url} name="mdi:code-block-html" />}
    <LinkIcon href={repo} name="mdi:github" />
  </div>
</div>
