---
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
const hoverEffect = "text-neutral-400 hover:text-base-content duration-500";
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto w-1/2 py-14">
      <header class="flex justify-between transition-transform">
        <a href="/" class={`${hoverEffect} text-lg`}>eliasuran.dev</a>
        <div class="flex gap-4">
          <a href="/blogg" class={hoverEffect}>blogg</a>
          <a href="/musikk" class={hoverEffect}>musikk</a>
        </div>
      </header>
      <div class="mt-12">
        <slot />
      </div>
    </div>
  </body>
</html>
