---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  desc: string;
}
const { title, desc } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={desc} />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <div class="mx-auto w-1/2 py-14 text-neutral-400">
      <Header />
      <div class="mt-12">
        <slot />
      </div>
      <Footer />
    </div></body
  >
</html>
